* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-image: url(images.jpg);
    opacity: 0.8;
} */
.logo h1 {
    font-size: 24px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin-right: 90px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}
.login{
   box-sizing: border-box;
    padding: 15px;
    background-color: white;
    color:green !important;
    margin-left: 130px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: end;
}

.logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}

.logo h1 {
    font-size: 10px;
    color: #fff;
}
.lol {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 0%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
main{ 
  display:flex;
  /* background:rgb(230, 229, 229); */
  align-items:center;
  justify-content: space-between;
  flex-direction: column;
}
h1{
    color:green;
    text-align: center;

}
.com{
    font-size: 30px;
    margin-left:10px;
    margin-top: 40px;
    padding-top: 40px;
}

.map a{
    font-size: 20px;
    text-align: center;
    color:#27d35b; 
    margin: 20px;
}
input{
   margin: 10px;
   padding: 30px;
   padding-right: 130px;
   width: 440px;
   border-radius:5px;
   border-width: 1px;
   

}
.fixed{
    border: 2px solid green;
    margin:5px;
    padding: 50px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 229, 229);
}

.dip{
    border: px solid rgb(14, 231, 87);
    color: green;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    width: 242px;
    height: 65px;
    color: green;
    font-size: 20px;

}
.tim{
    background-color: rgb(2, 172, 2) ;
    border-radius: 5px;
    width: 442px;
    height: 80px;
    margin: 10px;
    color: white;
    font-size: 20px;

    
}
.home img{
    margin-bottom: 190px;
}




